*.pyc
output/*
cache/*
__pycache__/*
data/*
*.ipynb
safe_rlhf.egg-info/*
safe_rlhf/evaluate/generate/outputs/*
*.env
safe_rlhf/evaluate/generate/wandb_download/*
*.log
safe_rlhf/evaluate/boolq/outputs/*
safe_rlhf/evaluate/boolq/wandb_download/*
